[Unit]
Description=ydotool input automation daemon
After=graphical-session.target
PartOf=stt.target

[Service]
ExecStart=/usr/bin/ydotoold --socket %t/ydotool.sock
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=stt.target

